{
  "extends": "airbnb",
  "rules": {
    "no-unused-expressions": "off",
    "space-infix-ops": "off",
    "default-case": "off",
    "no-else-return": "off",
    "brace-style": ["error", "stroustrup"],
    "quote-props": ["error", "consistent-as-needed"],
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
}
